{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Welcome
{% endblock %}


{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, World!</h1>
            <p>Sign up / login and let's play tictactoe!</p>
        </div>
    </div>
    <div class="jumbotron" style="width:fit-content; width:100%; position:relative">
            <img src="{% static 'img/tictactoe_board.png' %}" alt="Tictactoe Board" style="max-width:100%">
    </div>


{% endblock %}
